.sidebar {
  background: #292929;
}

.app-wrapper {
  min-height: 100vh;
}
@media (min-width: 650px) {
  .app-wrapper {
    display: flex;
  }

  .sidebar {
    max-width: 400px;
    min-width: 200px;
    flex-basis: 25%;
  }

  .colorgrid,
  .color {
    flex: 1 1 75%;
  }
}

.title {
  font-size: 1.75rem;

  color: white;
  padding: 0.75rem 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.container {
  text-align: center;
  padding-top: 200px;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

// Overdrive

body,
html {
  height: 100%;
}
#app {
  height: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
.icon-wrap {
  width: 500px;
  height: 500px;
  transform: translateY(16px) translateX(16px);
}

.grid .icon {
  width: 180px;
  height: 180px;
}
